
  .modal-content {
    background-color: #b0c6d5;


    padding: 20px;
    border-radius: 8px;
    width: auto;
    height: auto;
    text-align: left;

  }
  
  .modalClose-button {
    margin-top: 60%;
    margin-left: 40%;
    background-color: #ff784b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .close-button:hover {
    background-color: #ff784b;
  }
  
  p{
    color: rgb(47, 47, 47);
  }
  