General Styling
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #343834;
  }
  

  
  button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  


  .modal{
    width: auto;
    height: 50vh;

  }

   .ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
  } 
  
  .ReactModal__Content {
    background-color: #8e939b;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
  } 
  
  h2 {
    text-align: center;
    color: #34495e;
  }
  

  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    padding: 8px;
    background: #ecf0f1;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #626262;
  }
  
 
  input[type="range"] {
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
  }
  
  span {
    display: inline-block;
    margin: 5px;
    color: #575859;
  }
 

  ul li button {
    background-color: #758fd3;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left:40px;
    cursor: pointer;
  }
  
  ul li button:hover {
    background-color: #7589a7;
  }


  .pie-chart{
    width: 35%;
    margin-left: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search{
     width: 100%;
     height: 20vh;
     background-color: #0077b6;
     color: rgb(94, 93, 93);
  }
  #header-text{
    color: rgb(219, 215, 215);
    text-align: center;
    
    /* margin-top: 20px; */
  }
 #search-box{
  width: 30%;
  height: 20%;
  margin-left: 35vw;
  margin-top: 30px;
 }

 .calorie-range{
  margin-top: 20px;
  margin-left: 30%;
  width: 40vw;
  height: auto;
 }
 .list-item{
  margin-top: 15vh;
  margin-left: 15%;
  width: 40vw;
  height: auto;
 }

 #typeinp{
  /* margin-left: 10vw; */
  width: 14vw;
 }


 .footer{
  margin-bottom: 0;
 }

 .view-data{
  margin-top: 5vh;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
 
}

.meal-log{
  height: auto;
  width: 60vw ;
}

.total-calorie{
  margin-top: 3vh; 
  width: 30%;
  width: 50%;
  height: auto;

}


.doughnut-data{
   width: 50%;
   margin-left: 30%;
}
.doughnut-text {
  margin-top: 20px;
  text-align: left;
}

.doughnut-text-item {
  margin: 5px 0;
}

.pie-data{
  margin-top: 10vh;
  width: 33%  ;
  height: 35%;
  margin-left: 37%;
 }    

 .meal-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.meal-table th,
.meal-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.meal-table th {
  background-color: rgb(36, 136, 203);
  font-weight: bold;
  color: rgb(230, 226, 226);
}

.meal-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.meal-table tr:hover {
  background-color: #f1f1f1;
}

.meal-table button {
  background-color: #d1b7a4;
  color: rgb(255, 255, 255);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.meal-table button:hover {
  background-color: #29272f;
}

.meal-section h3{
 margin-top: 0%;
}