/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: 'ngwing 2.svg';
    font-family: Arial, sans-serif;
    background-color: #BEEBC2;
    line-height: 1.6;
  }
  
 
  .hero {
  
     
    background-size: cover;
    background-position: center;
    height: 60vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero .content h1 {
    font-size: 3.5rem;
  }
  
  .hero .content p {
    font-size: 2.5rem;
  }

.signup{
  background-size: cover;
    background-position: center;
    height: 40vh;
    color: white;
    display: flex;
    
    justify-content: center;
    align-items: center;
    text-align: center;
}
p{
  color: rgb(83, 81, 81);

    font-size: 1.5rem;
  
}
h1{
  font-size: 2.5rem;
}

#button{

width: 180px;
height: 60px;
border-radius: 20;
background-color: rgb(139, 59, 33);
font-size: 1.25rem;
font-family: Arial, sans-serif;
margin-left: 40px;
}

.navbar{
  position: sticky;
}
footer{
  margin-bottom: 0px;

}
