.navbar {
    width: 220vh;
    height: 100px;
    position: sticky;
    top: 0;
    background: rgba(145, 143, 143, 0.8);
    color: white;
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    margin-top: 0px;
  }
  
  .navbar .logo {
    margin-left: 40px;
    font-size: 2rem;
    font-weight: bold;
    font-size: larger;
  }
  
  .navbar .nav-links {
    margin-left: 40vh;
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar .nav-links li a {
    margin-left: 70vh;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
  }
  
  .navbar .nav-links li a:hover {
    background-color: #77797b;
    border-radius: 5px;
  }