/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: rgb(253, 250, 250);
    height: 4rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  #company-name {
    color: #3e3d3d;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .navbar a {
    color: #3e3d3d;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 0.9rem;
    font-weight: 500;
  }
  
  .navbar a:hover {
    color: #000000;
  }
  
  .nav-button {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .nav-button button {
    background-color: #e6e6e6;
    border: none;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .nav-button button:hover {
    background-color: #cfcfcf;
  }
  
  .nav-button img {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
  }
  
  .navbar .navbar a {
    display: inline-block;
    margin: 0 1.5rem;
  }
  
  