/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f9;
  }
  
  /* Header Section */
  h1 {
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;
  }
  
  button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  /* Select Dropdown */
  select {
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  input[type="text"] {
    padding: 8px;
    width: 90%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Modal Styling */
  .ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
  
  .ReactModal__Content {
    background-color: #d8e5f7;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
    color: #34495e;
  }
  
  p {
    font-size: 16px;
    color: #2c3e50;
  }
  
  b {
    color: #2c3e50;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    padding: 8px;
    background: #ecf0f1;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #2c3e50;
  }
  
  /* Calorie Range Styling */
  input[type="range"] {
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
  }
  
  span {
    display: inline-block;
    margin: 5px;
    color: #2c3e50;
  }
  
  /* Meal Sections */
  h3 {
    color: #16a085;
    margin-top: 20px;
  }
  
  ul li button {
    background-color: #758fd3;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left:40px;
    cursor: pointer;
  }
  
  ul li button:hover {
    background-color: #2777e9;
  }
  
.navbar {
    width: 220vh;
    height: 100px;
    position: sticky;
    top: 0;
    background: rgba(145, 143, 143, 0.8);
    color: white;
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
  }
  
  .navbar .logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  .navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .navbar .nav-links li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
  }
  
  .navbar .nav-links li a:hover {
    background-color: #77797b;
    border-radius: 5px;
  }
  
  